.mainheroaboutus {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 20px;
    color: #222;
    padding: 50px;
    margin-top:100px;
}

.aboutmiddle {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
}

/*.box {
  height: 300px;
  border-radius: 11px;
  background:url(http://res.cloudinary.com/dpnzwgeil/image/upload/v1478695466/6477358187_dbfa1087fb_b_k30tbs.jpg) no-repeat center center fixed;
}*/

.aboutbox {
  font-align: center;
  width: 1000px;
  height: 300px;
  border-radius: 11px;
}
.abouth1 {
  font-size: 3em;
  margin-top: -0.3em;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #4d4d4d;
}

.abouth2 {
  font-size: 3em;
  padding: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #4d4d4d;
}

.aboutp {
  margin-top: 1.5em;
}

.social {
  font-size: 1.3em;
  padding: 2px;
  color: #4d4d4d;
  text-indent: 30px;
  line-height: 1.8;  
}
