nav {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

sidebar {
    visibility: hidden;
}

body{
  color: #fff;
  text-align: center;
  background: url(http://res.cloudinary.com/dpnzwgeil/image/upload/v1478254160/tausta2_rfauwj.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

/*tekstit*/
.h1infoscreen2{
  font-family: 'Damion', cursive;
  font-size: 103px;
}

.h2infoscreen {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 100px;  
  -webkit-transform:scale(1.9,2.2);
  padding: 30px;
}
.progress-count{
  display:inline-block;
  text-align: center;
}

.progress-count label{
  display: block;
  color: white;
}

.infoscreen {
  color: white;
}

.content {
    font-size: 3em;
    display: -webkit-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
  margin-top: 50px;
}

.screenul {
    list-style: none;
}

.h1infoscreen {
  font-size: 1.2em;
  color: #ffffff;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.fancyinfoscreen {
  line-height: 0.5;
  text-align: center;
}

.sloganinfoscreen {
  font-size: 2em;
  color: #ffffff;
  letter-spacing: 3px;
  font-weight: bold;
  text-shadow: 
  1px 0px 1px #ccc, 0px 1px 1px #eee;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 20px;
}

.fancyinfoscreen span {
    display: inline-block;
    position: relative;
}

.countdownwrap {
    margin-top: 50px;
}