.infomiddle {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
}

.mainheroinfo {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 20px;
    color: #222;
    padding: 50px;
    margin-top: 50px;
      @media all and (max-width: 680px) {
        margin-top 20px;
        max-width: 300px;
    }
    .map {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      @media all and (max-width: 680px) {
        max-width:250px;
        max-height:250px;
        box-shadow: none;
        padding: 10px;
    }
  }
}


.infoh1 {
  font-size: 4em;
  margin-top: -0.5em;
  font-family: 'Unica One', cursive;
  color: #4d4d4d;
}

.infop {
  padding: 20px;
}

.infoh2 {
  font-size: 2.5em;
  margin-top: -1em;
  margin-bottom: 0.6em;
  color: #4d4d4d;
}

.infojar {
  font-size: 3em;
  margin-top: 0.3em;
  color: #4d4d4d;
}
