body {
  color: #fff;
  position: relative;
  background:url(http://res.cloudinary.com/dpnzwgeil/image/upload/v1478254160/tausta2_rfauwj.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mainhero {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;

.mainh1 {
  font-family: 'Unica One', cursive;
  font-size: 80px;
  text-align: center;
	margin-top: 0.8em;
}

.mainh2 {
  font-family: 'Unica One', cursive;
  font-size: 15em;  
  text-align: center;
	margin-top: -0.3em;
}

.mainp {
  font-family: 'Unica One', cursive;
  font-size: 10em;  
  text-align: center;
 } 
}