body {
  color: #fff;
  position: relative;
  background:url(http://res.cloudinary.com/dpnzwgeil/image/upload/v1478254160/tausta2_rfauwj.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mainhero {
    height: 500px;
    position: relative;
    color: white;
}

h1 {
  font-family: 'Damion', cursive;
  font-size: 103px;
  text-align: center;
  text-shadow: 
    3px 0px 3px #000000, 0px 3px 3px #000000;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15em;  
  text-align: center;
  text-shadow: 
    5px 0px 5px #000000, 0px 5px 5px #000000; 
}

.middleman {
  	font-size: 2.5em;
  	text-align: center;
}

/*WRAPPER*/
.icon-button {
	background-color: white;
	border-radius: 20px;
	cursor: pointer;
	display: inline-block;
	font-size: 5rem;
	height: 10rem;
	line-height: 10rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 10rem;
}

/*CIRCLE*/
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 10rem;
	height: 10rem;
	border-radius: 20px;
	margin: -5rem;
}

/*ICONS*/
.icon-button i {
	background: none;
	color: white;
	height: 10rem;
	left: 0;
	line-height: 10rem;
	position: absolute;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 10rem;
	z-index: 10;
}

.facebook  {
	background-color: rgba(80,122,189,.7);
}
.instagram {
	background-color: rgba(102, 208, 121,.7);
}
.envelope-o {
	background-color: rgba(203,32,39,.7);
}


/*HOVER*/
.facebook span {
	background-color: rgba(80,122,189,.7);
}
.instagram span {
	background-color: rgba(102, 208, 121,.7);
}
.envelope-o span {
	background-color: rgba(203,32,39,.7);
}

@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }

  .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }

  /*ICONS*/
  .icon-button i {
	  height: 1.6rem;
	  line-height: 1.6rem;
	  width: 1.6rem;
  }

}