nav {
    line-height: 90px;
    height: 90px;
    background: alpha(black,.6);
    position: relative;
    z-index: 999;
    width: 100%;
    text-decoration: none;
    color: #DCDCDC;
        /* @media only screen and (max-width: 768px) {
      text-decoration: underline;
    }*/
    @media screen and (max-width: 540px){
    display: none;
    }
  }

nav ul {
  list-style: none;
  display: inline-flex;
}

nav div {
  text-align: center;
  color: #dcdcdc;
  font-size: 1.8em;
  font-family: 'Open Sans Condensed', sans-serif;
  display: block;
   /* @media only screen and (max-width: 768px) {
      font-size: 19px;
    }*/
    a:hover {
      text-decoration: underline;
    }
    li {
      margin: 0 10px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}