nav {
    line-height: 90px;
    height: 90px;
    background: alpha(black,.6);
    position: relative;
    z-index: 999;
    width: 100%;
    text-decoration: none;
    color: #DCDCDC;
  }

nav ul {
  list-style: none;
  display: inline-flex;
}

nav div {
  text-align: center;
  color: #dcdcdc;
  font-size: 1.8em;
  font-family: 'Open Sans Condensed', sans-serif;
  display: block;
    @media only screen and (max-width: 680px) {
      font-size: 19px;
    }

    @media only screen and (max-width: 320px) {
      font-size: 17.5px;
    }

    a:hover {
      text-decoration: underline;
    }
    li {
      margin: 0 10px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

@media only screen and (max-width: 541px) {
  nav ul li:hover{background:;}
  nav ul li:hover > ul{display: block;}
  nav ul li {
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav ul li a {
  display: block; 
  letter-spacing: 1px;
  text-decoration: none;
}

nav ul ul {
  display: none;
  background: alpha(black,.9);
  position: absolute; 
  top: 100%;
  border: 1px solid rgba(0,0,0,.1);
}

nav ul ul li {
  float: none; position: relative;
}

nav ul ul li a {
  padding: 0px 18px; 
  border-bottom: 1px white;
  height: 75px;
}

nav ul ul ul {
  position: absolute; 
  top:0;
  }	
}

.mobilecontrol {
 @media only screen and (max-width: 540px) {
  display: initial;
 }
}

.mobilecontrol {
  @media only screen and (min-width: 541px){
    display: none;
  }
}

.desktop {
  @media only screen and (min-width: 0px){
    display: none;
  }
}

.desktop {
  @media only screen and (min-width: 541px){
    display: initial;
  }
}


