.mainherorules {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 20px;
    color: #222;
    padding: 50px;
    margin-top:50px;
@media only screen and (max-width: 680px) {
    max-width: 300px!important;
}
@media only screen and (max-width: 1100px) {
    max-width: 600px;
}
}

.rulesmiddle {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
@media only screen and (max-width: 680px) {     
    display: initial;  
    width: 295px; 
    }  
@media only screen and (max-width: 1100px) {     
    display: initial;  
    }  
}
    
.flex-container {
    height: 420px;
    margin-top: 20px;
}

.flex-item {
    background: rgba(34,34,34,0.3);
    border-radius: 5%;
    width: 400px;
    margin: 10px;
@media only screen and (max-width: 680px) {     
    border-radius: 2%!important;
    margin-left: auto;
    margin-right: auto; 
    }
@media only screen and (max-width: 1100px) {     
    width: 99%;  
    padding: 5px;  
    border-radius: 2%;
    margin-left: auto;
    margin-right: auto;
    }
}

#wordwrap {   
    margin: 20px;
    text-align: center;
    word-wrap: break-word;
}

.rulesh1 {
    font-size: 35px;
    color: #4d4d4d;
}

.rulesh2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    color: #4d4d4d;
}

.rulesp {
    padding: 20px;
}
