.mainheroaboutus {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 20px;
    color: #222;
    padding: 50px;
    margin-top:50px;
@media only screen and (max-width: 680px) {
    max-width: 300px!important;
   }
@media only screen and (min-width: 681px) and (max-width: 1000px) {
  max-width: 550px;
}
@media only screen and (min-width: 1001px) and (max-width: 1360px) {
  max-width: 750px;
}}

.aboutbox {
  font-align: center;
  margin-top: -20px;
  width: 60%;
  height: 100%;
  border-radius: 11px;
@media only screen and (max-width: 680px) {
    margin-top: -10px;
    margin-bottom: -10px;
    width: 90%;
    height: 50px;
    }
@media only screen and (min-width: 681px) and (max-width: 1100px) {
    width: 100%;
    margin-top: -10px;
    margin-bottom: -20px;
    height: 200px;
    }
  }


.aboutmiddle {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
@media only screen and (max-width: 768px) {
    font-size: 20px;
    }
}

.abouth1 {
  font-size: 3em;
  margin-top: -0.3em;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #4d4d4d;
@media only screen and (max-width: 768px) {
    font-size: 30px;
  }
}

.abouth2 {
  font-size: 3em;
  padding: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #4d4d4d;
@media only screen and (max-width: 768px) {
    font-size: 30px;
  }
}

.aboutp {
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 1em;
@media only screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.social {
  font-size: 1.3em;
  padding: 2px;
  color: #4d4d4d;
  text-indent: 30px;
  text-align: left;
  margin-left: 20px;
  line-height: 1.8;  
  @media only screen and (max-width: 680px) {
    font-size: 20px;
    text-indent: 0px;
    text-align: center;
    line-height: 2;
    margin: auto;
    }
}
